   .introduction {
        top: 80px;
        width: 50%;
        /*height: calc(100vh - 80px);*/
        margin-left: 15rem;
        text-align: left;
      }
      
      .intro-text h1 {
        font-size: 32px;
        margin-bottom: 20px;
      }
      
      .intro-text p {
        font-size: 12px;
        line-height: 1.5;
        max-width: 500px;
      }
      
      .intro-text {
        margin-top: 20px;
      }
      
      .contact-info p {
        width: 50%;
        white-space: pre-wrap;
        font-size: 10px;
      }

      .contact {
        padding-top: 2em;
  

      }

      .contact h2,
      .contact p,
      .contact .contact-info {
       display: inline-block;
       vertical-align: top;  
  }
  
   
      
        