*{
  margin: 0;
  padding: 0;
  font-family:"Inter";
  box-sizing: border-box;
}



body {
  background-color: #fafafa;
  margin: 0;
  padding: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto 2fr 1fr auto;
  min-height: 50vh;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}


.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}



header,
nav,
main,
footer {
  background:white;
  color: black;
  padding: 1rem;
}

header h1 {
  font-family:"Inter";
  font-size: 18px;
  padding-left: 7rem;
}

header {
  grid-area: header;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
nav {
  grid-area: nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20rem 1fr;
    grid-template-areas:
      "header header"
      "nav main"
      "nav footer";
  }
}

.menu-item {
  padding: 14px;
  padding-left: 5rem;
  margin: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #c2c2c2;
  text-align: left;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.menu-item:hover a {
  color: #000000;
}

.menu-item a {
  text-decoration: none;
  color: #c2c2c2;
}


